footer.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    padding: 5px;
    text-align: center;
}

footer span{
    font-size: 0.8rem;
}

span strong{
    color: var(--color)
}

footer a {
    text-decoration: none;
}