.logo{
    display: block;
    width: 200px;
}

.logo img{
    padding: 0px 45px;
    width: 100%;
}

@media(max-width: 768px){
    .logo{
        width: 80px;
    }
    .logo img{
        padding: 0px;
        margin-top: 5px;
        width: 100%;
    }
}
