nav a{
    display: inline-block;
    border-width: medium !important;
    border-bottom: solid 1px !important;
    color: #fff !important;
    width: 100%;
    transition: all ease-in-out 0.3s !important;
}

nav a:nth-child(1){
    border-top: solid 1px !important;
}
nav a:hover{
    background: var(--secondary-color)!important;
}

@media(max-width: 768px){
    nav a{
        width: 50%;
        border: solid 1px !important;
    }
}